*{
  padding: 0px;
  margin: 0px;
}
.App{
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo-top img{
  width: 80px;
  height: auto;
}
.todo-input{
  width: 200px;
  height: 30px;
  background-color: rgb(105, 142, 177);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.fas{
  cursor: pointer;
}
.todo-input-box{
  background-color: transparent;
  border-color: transparent;
  outline: none;
}
::placeholder{
  color: aliceblue;
}
.list-added{
  height: 100%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.todo-edits{
  width: 50px;
  display: flex;
  justify-content: space-around;
}
.todo-button{
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  cursor: pointer;
}
.fa-edit:hover{
  color: rgb(16, 112, 16);
}
.fa-trash-alt:hover{
  color: tomato;
}
.fa-plus:hover{
  color: rgb(255, 255, 255);
}
